.save-btn {
    background-color: #877EED;
    color: #FFF;

    width: 125px;
    height: auto;
    padding: 12px 16px;
    margin-top: 10px;

    font-size: 16px;
    line-height: 150%;
    font-weight: 550;
    cursor: pointer;

    border-radius: 24px;
    border: none;
}

.save-btn:hover{
 background-color: #544ACB;
}